*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/passwordKeeper-desktop/nbproject/private/
/passwordKeeper-desktop/build/
/passwordKeeper-desktop/libpassword/build/
/passwordKeeper-desktop/libpassword/dist/
/passwordKeeper-desktop/dist/