*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/passwordKeeper-desktop/nbproject/private/
/passwordKeeper-desktop/build/
/passwordKeeper-desktop/libpassword/build/
/passwordKeeper-desktop/libpassword/dist/
/passwordKeeper-desktop/dist/
/passwordKeeper-desktop/libpasswordKeeper/nbproject/private/
/passwordKeeper-desktop/libpasswordKeeper/dist/
/passwordKeeper-desktop/libpasswordKeeper/build/
/passwordKeeper-desktop/target/
/passwordKeeper-desktop/sudokuSolver/build/
/passwordKeeper-desktop/sudokuSolver/dist/
/passwordKeeper-desktop/sudokuSolver-java/nbproject/private/
/passwordKeeper-desktop/sudokuSolver-java/build/
/passwordKeeper-desktop/sudokuSolver-java/dist/