<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.munger.passwordkeeper">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application android:allowBackup="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:icon="@drawable/ic_lock_keys"
        android:label="@string/app_name">

        <activity
            android:name="com.munger.passwordkeeper.SplashScreen"
            android:theme="@style/SplashTheme"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.munger.passwordkeeper.MainActivity"
            android:windowSoftInputMode="adjustResize"
            android:label="@string/app_name" >
        </activity>

        <activity android:name="com.munger.passwordkeeper.Helper$BlankActivity"
                  android:windowSoftInputMode="adjustResize"
                  android:label="@string/app_name" />

    </application>


</manifest>
